*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-image: url(../img/star_sky.jpg);
}

#body_index {
    overflow: hidden;
}

#logo_box {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 1;
    position: relative;
}

#logo_box img {
    width: 30%;
    height: auto;
    top: 50%;
}

#death_star_box {
    width: 20%;
    height: 35vh;
    position: absolute;
    left: 40vw;
    right: 40vw;
    display: block;
    z-index: 10000;

}

#death_star_img {
    width: 20vw;
    height: 35vh;
}

#endor_box {
    width: 20%;
    height: 0vh;
    position: absolute;
    top: 65vh;
    left: 40vw;
    right: 40vw;
    z-index: 10000;
}

#endor_img {
    width: 20vw;
    height: 35vh;
}

.text_index {
    margin-top: 5vh;
    background-color: rgb(255, 232, 31);
    color: black;
    width: 10vw;
}


.hover_img {
    transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
    height: 40vh;
    width: 100%;
    position: relative;
    top: 0;
}

.hover_img:hover {
    height: 45vh;
    
    
}

.hover_img_bottom {
    transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
    height: 40vh;
    width: 100%;
    position: relative;
    top: 0;
}

.hover_img_bottom:hover {
    height: 45vh;
    top: -5vh;
}


#corner_left_top_box {
    width: 35vw;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: absolute;
}

#corner_left_top_box_img {
    border-radius: 3px;
    border-color: rgb(255, 232, 31);
    border-style: solid;
    border-bottom-right-radius: 20px;
    
}

#corner_right_top_box {
    width: 35vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 2;
    margin-left: 65vw;
}


#corner_right_top_box_img {
    border-radius: 3px;
    border-color: rgb(255, 232, 31);
    border-style: solid;
    border-bottom-left-radius: 20px;
}

#corner_left_bottom_box {
    width: 35vw;
    display: flex;
    position: absolute;
    bottom: 40vh;
    right: 65vw;
    z-index: 2;
    height: 0vh;
}

#corner_left_bottom_box_img {
    border-radius: 3px;
    border-color: rgb(255, 232, 31);
    border-style: solid;
    border-top-right-radius: 20px;
}

#corner_right_bottom_box {
    width: 35vw;
    display: flex;
    position: absolute;
    top: 60vh;
    left: 65vw;
    z-index: 2;
    height: 0vh;
}

#corner_right_bottom_box_img {
    border-radius: 3px;
    border-color: rgb(255, 232, 31);
    border-style: solid;
    border-top-left-radius: 20px;
}



/**************death_star.html*******************/

#body_death_star {
    overflow: hidden;
}

#death_star_video_box {
    height: 100%;
    width: 100%;
}

#death_star_video {
    margin-left: 25vw;
    margin-right: 40vw;
    width: 50vw;
    height: 60vh;
}

#back {
    background-color: rgb(255, 232, 31);
    font-size: 2vh;
    border: black 0vh solid;
    padding: 2vh;
    transition: 0.5s;
    position: fixed;
    left: 1vh;
    top: 1vh;
    z-index: 10000000000;
}

#back:hover {
    border: black solid 1vh;
    margin-top: -1vh;
    margin-left: -1vh;
}

#back_deck {
    text-decoration-line: none;
    color: black;
}

#death_star_size {
    width: 30vw;
    height: 40vh;
}

#star_destroyer {
    width: 30vw;
    height: 30vh;
    margin-left: 35vw;
}





/**************bild.html***********************/

#body_bild {
    overflow: hidden;
}



.img_bild {
    transition: transform 0.5s ease-in-out;
    width: 21vw;
    height: 40vh;
    margin: 1.5%;
    margin-top: 5vh;
    border-radius: 20px;
    border: 2px solid rgb(255, 232, 31);;
}

.img_bild:hover {
    transform: scale(1.2);
}

.text_bild {
    background-color: rgb(255, 232, 31);
    width: 30%;
    margin: 1.5%;
    margin-top: 3%;
    color: black;
    font-size: 20px;
}

/*************video.html***************/

#body_video {
    overflow: hidden;
}

#video_video_box {
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
    margin-right: 25vw;
    justify-content: center;
    align-items: center;
}

#video_video {
    width: 45vw;
    height: 55vh;
    z-index: 2;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 2.5vh;
    border-color: rgb(255, 232, 31);
    border-radius: 30px;
    border: solid rgb(255, 232, 31) 2px;
}


#tie_fighter {
    width: 20vw;
    height: 22vh;
    margin-left: 75vw;
    z-index: 1;
}

#x-wing {
    width: 20vw;
    height: 25vh;
    margin-right: 75vw;
    z-index: 1;
}

/************text.html***********/

.movie_headline {
    color: #ffc909;
    text-align: center;
    border-style: inset;
    border-color: #ffc909;
    border-radius: 150px;
    margin-top: 8vh;
}

.movie_description_text {
    color: black;
    background-color: #ffc909;
    text-align: center;
    border-style: inset;
    border-color: black;
    border-radius: 20px;
    padding: 2vw;
    margin-top: 3vh;
}

/**********tatooine.html***********/

#tatooine_video {
    margin-top: 0vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    height: 50vh;
    z-index: 2;
}

#jawa_img {
    width: 20vw;
    height: 45vh;
    margin-left: 75vw;
}

/***********audio.html**********/

#body_audio {
    overflow: hidden;
}

#audio_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#audio_box audio {
    width: 50vw;
}

#imperial_march {
    width: 40vw; 
}


#first_x-wing {
    width: 10vh;
    height: 15vh;
    position: absolute;
    bottom: 5vh;
    left: -25%;
    animation: first_x-wing 10s linear alternate;
}

#second_x-wing {
    width: 10vh;
    height: 15vh;
    position: absolute;
    bottom: 20vh;
    left: -25%;
    animation: second_x-wing 10s linear alternate;
}

#third_x-wing {
    width: 10vh;
    height: 15vh;
    position: absolute;
    bottom: 12vh;
    left: -15%;
    animation: third_x-wing 10s linear alternate;
}


@keyframes first_x-wing {
    0% {
        left: -25%;
        opacity: 1;
    }
    33% {
        left: 40%;
    }
    66% {
        left: 65%;
    }
    80% {
        left: 80%;
    }
    100% {
        left: 100%;
        opacity: 1;
    }
}

@keyframes second_x-wing {
    0% {
        left: -25%;
        opacity: 1;
    }
    33% {
        left: 40%;
    }
    66% {
        left: 65%;
    }
    80% {
        left: 80%;
    }
    100% {
        left: 100%;
        opacity: 1;
    }
}

@keyframes third_x-wing {
    0% {
        left: -15%;
        opacity: 1;
    }
    33% {
        left: 50%;
    }
    66% {
        left: 75%;
    }
    80% {
        left: 90%;
    }
    100% {
        left: 100%;
        opacity: 1;
    }
}












